@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
	background-color: #61E8DF;
}

.output {
	margin: 45px;
	border: 1px solid lightgray;
    box-shadow: 4px 4px #CCE6E4;
}