@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
	background-color: #61E8DF;
	font-family: "Lucida Console", Courier, monospace;
}

.output {
	margin: 35px;
	border: 1px solid lightgray;
    box-shadow: 4px 4px #79F2EA;
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chatBox {
	margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.messageContainer {
	margin: 5px;
	border-bottom: 1px solid #CCE6E4;
}