@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
	background-color: #61E8DF;
	font-family: "Lucida Console", Courier, monospace;
}

.output {
	margin: 35px;
	border: 1px solid lightgray;
    box-shadow: 4px 4px #79F2EA;
}

.chatBox {
	margin: 20px;
}

.messageContainer {
	margin: 5px;
	border-bottom: 1px solid #CCE6E4;
}